@import "colors";

$alert-variants: (
  "error": $rpi-red,
  "info": $rpi-darkblue,
);

.rpi-alert {
  padding: 15px;
  color: $rpi-darkestgray;
  background-color: white;

  margin-bottom: 10px;

  // Alert Variants
  @each $name, $color in $alert-variants {
    &.#{$name} {
      background-color: $color;
      @if (lightness($color) > 50) {
        color: $rpi-black;
      } @else {
        color: $rpi-white;
      }
    }
  }

  span.close {
    float: right;
    &::after {
      content: "×";
      cursor: pointer;
    }
  }
}
