:root {
    /* Primary Colors */
    --rpi-red: #d6001c;
    --rpi-darkestgray: #222;
    --rpi-darkgray: #363436;
    --rpi-medgray: #54585a;
    --rpi-black: #000;
    --rpi-white: #fff;

    /* Secondary Colors */
    --rpi-darkred: #ab2328;
    --rpi-darkblue: #00205c;
    --rpi-lightblue: #7fa9ae;

    /* Accent Colors */
    --rpi-accent-gray: #9ea2a2;
    --rpi-accent-lightgray: #d7dbde;
    --rpi-accent-yellow: #ede86a;
}