@use 'colors';
@use 'typography';
@use 'buttons';
@use 'navbar';
@use 'form';
@use 'arrownav';
@use 'alert';
@use 'layout';

@import "colors", "typography";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $rpi-white;
  font-family: $rpi-sans;
}

* {
  box-sizing: border-box;
}
