@use 'colors';
@use 'typography';
@use 'buttons';
@use 'navbar';
@use 'form';

// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--rpi-white);
    font-family: var(--rpi-sans);
}

* {
    box-sizing: border-box;
}